<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testReporting.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/jeffi/IdeaProjects/LearningBS">
        <classes>
            <class name="parentappTestCases.MarkAbsenceFeatureTest"/>
        </classes>
    </test>
</suite>